USE [master]
GO
/****** Object:  Database [Articalorias]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE DATABASE [Articalorias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Articalorias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Articalorias.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Articalorias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Articalorias_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Articalorias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Articalorias]
GO
/****** Object:  Schema [admin]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE SCHEMA [admin]
GO
/****** Object:  Schema [app]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE SCHEMA [app]
GO
/****** Object:  Table [app].[ActivityEntry]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[ActivityEntry](
	[ActivityEntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[DailyLogId] [bigint] NOT NULL,
	[ActivityTemplateId] [bigint] NULL,
	[ActivityName] [nvarchar](150) NOT NULL,
	[DurationMinutes] [decimal](10, 2) NULL,
	[METValue] [decimal](8, 3) NULL,
	[CalculatedCaloriesKcal] [decimal](10, 2) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[ActivityTemplate]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[ActivityTemplate](
	[ActivityTemplateId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[TemplateName] [nvarchar](150) NOT NULL,
	[AutoAddToNewDay] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DefaultDurationMinutes] [decimal](10, 2) NULL,
	[DefaultMET] [decimal](8, 3) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[AiResponseCache]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[AiResponseCache](
	[CacheKeyHash] [char](64) NOT NULL,
	[CacheType] [nvarchar](20) NOT NULL,
	[ResponseJson] [nvarchar](max) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[ExpiresAtUtc] [datetime2](0) NULL,
	[HitCount] [bigint] NOT NULL,
	[LastHitAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_AiResponseCache] PRIMARY KEY CLUSTERED 
(
	[CacheKeyHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [app].[BodyMeasurement]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[BodyMeasurement](
	[BodyMeasurementId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[MeasuredOn] [date] NOT NULL,
	[WeightKg] [decimal](8, 2) NULL,
	[BodyFatPercent] [decimal](5, 2) NULL,
	[Source] [nvarchar](20) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_BodyMeasurement] PRIMARY KEY CLUSTERED 
(
	[BodyMeasurementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[DailyLog]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[DailyLog](
	[DailyLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[LogDate] [date] NOT NULL,
	[SnapshotWeightKg] [decimal](8, 2) NULL,
	[SnapshotHeightCm] [decimal](8, 2) NULL,
	[SnapshotBMRKcal] [decimal](10, 2) NOT NULL,
	[SnapshotBodyFatPercent] [decimal](5, 2) NULL,
	[SnapshotDailyBaseGoalKcal] [decimal](10, 2) NOT NULL,
	[SnapshotProteinGoalGrams] [decimal](10, 2) NOT NULL,
	[TotalFoodCaloriesKcal] [decimal](10, 2) NOT NULL,
	[TotalProteinGrams] [decimal](10, 2) NOT NULL,
	[TotalFatGrams] [decimal](10, 2) NOT NULL,
	[TotalCarbsGrams] [decimal](10, 2) NOT NULL,
	[TotalAlcoholGrams] [decimal](10, 2) NOT NULL,
	[TotalActivityCaloriesKcal] [decimal](10, 2) NOT NULL,
	[TEFKcal] [decimal](10, 2) NOT NULL,
	[HoursRemainingInDay] [decimal](6, 2) NOT NULL,
	[TotalDailyExpenditureKcal] [decimal](10, 2) NOT NULL,
	[NetBalanceKcal] [decimal](10, 2) NOT NULL,
	[DailyGoalDeltaKcal] [decimal](10, 2) NOT NULL,
	[CaloriesRemainingToDailyTargetKcal] [decimal](10, 2) NOT NULL,
	[ProteinRemainingGrams] [decimal](10, 2) NOT NULL,
	[WeekStartDate] [date] NOT NULL,
	[WeekEndDate] [date] NOT NULL,
	[WeeklyTargetKcal] [decimal](10, 2) NOT NULL,
	[WeeklyActualToDateKcal] [decimal](10, 2) NOT NULL,
	[WeeklyExpectedToDateKcal] [decimal](10, 2) NOT NULL,
	[WeeklyDifferenceKcal] [decimal](10, 2) NOT NULL,
	[WeeklyRemainingTargetKcal] [decimal](10, 2) NOT NULL,
	[SuggestedDailyAverageRemainingKcal] [decimal](10, 2) NOT NULL,
	[LastRecalculatedAtUtc] [datetime2](0) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[IdleTimeCaloriesKcal] [decimal](10, 2) NOT NULL,
	[SnapshotSleepHours] [decimal](5, 2) NULL,
	[SnapshotNeatHours] [decimal](5, 2) NULL,
	[SnapshotSleepMET] [decimal](8, 3) NULL,
	[SnapshotNeatMET] [decimal](8, 3) NULL,
	[SleepCaloriesKcal] [decimal](10, 2) NOT NULL,
	[NeatCaloriesKcal] [decimal](10, 2) NOT NULL,
	[IsFastingDay] [bit] NOT NULL,
	[TotalSugarGrams] [decimal](10, 2) NULL,
	[TotalWaterMl] [decimal](10, 2) NULL,
	[MacroTargetsJson] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DailyLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DailyLog_User_LogDate] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[DataMigration]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[DataMigration](
	[Name] [nvarchar](100) NOT NULL,
	[AppliedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DataMigration] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[FavoriteRoutine]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FavoriteRoutine](
	[FavoriteRoutineId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoutineName] [nvarchar](150) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_FavoriteRoutine] PRIMARY KEY CLUSTERED 
(
	[FavoriteRoutineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[FavoriteRoutineItem]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FavoriteRoutineItem](
	[FavoriteRoutineItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[FavoriteRoutineId] [bigint] NOT NULL,
	[ItemType] [varchar](10) NOT NULL,
	[ActivityTemplateId] [bigint] NULL,
	[FoodTemplateId] [bigint] NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteRoutineItem] PRIMARY KEY CLUSTERED 
(
	[FavoriteRoutineItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[FoodEntry]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FoodEntry](
	[FoodEntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[DailyLogId] [bigint] NOT NULL,
	[FoodName] [nvarchar](200) NOT NULL,
	[PortionDescription] [nvarchar](150) NULL,
	[Quantity] [decimal](10, 3) NULL,
	[CaloriesKcal] [decimal](10, 2) NOT NULL,
	[ProteinGrams] [decimal](10, 2) NOT NULL,
	[FatGrams] [decimal](10, 2) NOT NULL,
	[CarbsGrams] [decimal](10, 2) NOT NULL,
	[AlcoholGrams] [decimal](10, 2) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[FoodTemplateId] [bigint] NULL,
	[SugarGrams] [decimal](10, 2) NULL,
	[WaterMl] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[FoodTemplate]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[FoodTemplate](
	[FoodTemplateId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TemplateName] [nvarchar](150) NOT NULL,
	[PortionDescription] [nvarchar](100) NOT NULL,
	[DefaultQuantity] [decimal](10, 3) NOT NULL,
	[CaloriesKcal] [decimal](10, 2) NOT NULL,
	[ProteinGrams] [decimal](10, 2) NOT NULL,
	[FatGrams] [decimal](10, 2) NOT NULL,
	[CarbsGrams] [decimal](10, 2) NOT NULL,
	[AlcoholGrams] [decimal](10, 2) NOT NULL,
	[AutoAddToNewDay] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[SugarGrams] [decimal](10, 2) NULL,
	[WaterMl] [decimal](10, 2) NULL,
 CONSTRAINT [PK_FoodTemplate] PRIMARY KEY CLUSTERED 
(
	[FoodTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[MonthlySummary]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[MonthlySummary](
	[MonthlySummaryId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[YearNumber] [int] NOT NULL,
	[MonthNumber] [int] NOT NULL,
	[MonthStartDate] [date] NOT NULL,
	[MonthEndDate] [date] NOT NULL,
	[TotalActivityCaloriesKcal] [decimal](14, 2) NOT NULL,
	[TotalTEFKcal] [decimal](14, 2) NOT NULL,
	[TotalExpenditureKcal] [decimal](14, 2) NOT NULL,
	[ActualMonthlyBalanceKcal] [decimal](14, 2) NOT NULL,
	[AverageDailyFoodCaloriesKcal] [decimal](10, 2) NOT NULL,
	[AverageDailyExpenditureKcal] [decimal](10, 2) NOT NULL,
	[AverageDailyBalanceKcal] [decimal](10, 2) NOT NULL,
	[AverageWeeklyBalanceKcal] [decimal](12, 2) NOT NULL,
	[EstimatedWeightChangeKg] [decimal](10, 4) NULL,
	[DaysLogged] [int] NOT NULL,
	[LastCalculatedAtUtc] [datetime2](0) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonthlySummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MonthlySummary_User_Year_Month] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[YearNumber] ASC,
	[MonthNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[RefreshTokens]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[RefreshTokens](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TokenHash] [nvarchar](256) NOT NULL,
	[ExpiresAtUtc] [datetime2](0) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[RevokedAtUtc] [datetime2](0) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[User]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[PasswordSalt] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[PasswordResetToken] [nvarchar](250) NULL,
	[PasswordResetTokenExpiresAtUtc] [datetime2](0) NULL,
	[LastActiveAtUtc] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[UserConsent]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[UserConsent](
	[UserConsentId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ConsentType] [nvarchar](30) NOT NULL,
	[PolicyVersion] [nvarchar](20) NOT NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Locale] [nvarchar](5) NOT NULL,
	[Source] [nvarchar](20) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_UserConsent] PRIMARY KEY CLUSTERED 
(
	[UserConsentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[UserMacroPreference]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[UserMacroPreference](
	[UserMacroPreferenceId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[MacroKey] [nvarchar](20) NOT NULL,
	[IsTracked] [bit] NOT NULL,
	[TargetMode] [nvarchar](10) NOT NULL,
	[CustomTargetValue] [decimal](10, 2) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_UserMacroPreference] PRIMARY KEY CLUSTERED 
(
	[UserMacroPreferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[UserProfile]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[UserProfile](
	[UserProfileId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CurrentWeightKg] [decimal](8, 2) NULL,
	[HeightCm] [decimal](8, 2) NULL,
	[BMRKcal] [decimal](10, 2) NOT NULL,
	[BodyFatPercent] [decimal](5, 2) NULL,
	[DailyBaseGoalKcal] [decimal](10, 2) NOT NULL,
	[ProteinGoalGrams] [decimal](10, 2) NULL,
	[AutoCalculateProteinGoal] [bit] NOT NULL,
	[IsOnboardingCompleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Age] [int] NULL,
	[BiologicalSex] [nvarchar](1) NULL,
	[AutoCalculateBMR] [bit] NOT NULL,
	[AutoCalculateBodyFat] [bit] NOT NULL,
	[Country] [nvarchar](100) NULL,
	[SleepHours] [decimal](5, 2) NOT NULL,
	[NeatHours] [decimal](5, 2) NOT NULL,
	[SleepMET] [decimal](8, 3) NOT NULL,
	[NeatMET] [decimal](8, 3) NOT NULL,
	[CalorieDisplayMode] [nvarchar](20) NOT NULL,
	[MinCaloriesSafeguardEnabled] [bit] NOT NULL,
	[TimeZoneId] [nvarchar](50) NULL,
	[FirstFoodLoggedAtUtc] [datetime2](0) NULL,
	[HasSeenTutorial] [bit] NOT NULL,
	[GoalTargetWeightKg] [decimal](8, 2) NULL,
	[GoalTargetBodyFatPercent] [decimal](5, 2) NULL,
	[GoalTargetDate] [date] NULL,
	[ProteinGoalGramsPerKg] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserProfile_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [app].[UserStreaks]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[UserStreaks](
	[UserStreakId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[StreakEnabled] [bit] NOT NULL,
	[CurrentStreak] [int] NOT NULL,
	[LongestStreak] [int] NOT NULL,
	[LastLoggedDate] [date] NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_UserStreaks] PRIMARY KEY CLUSTERED 
(
	[UserStreakId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationSchedules]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationSchedules](
	[NotificationScheduleId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Type] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[HourUtc] [int] NOT NULL,
	[MinuteUtc] [int] NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NotificationSchedules] PRIMARY KEY CLUSTERED 
(
	[NotificationScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PushSubscriptions]    Script Date: 9/10/2026 7:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PushSubscriptions](
	[PushSubscriptionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Endpoint] [nvarchar](2048) NOT NULL,
	[P256DH] [nvarchar](512) NOT NULL,
	[Auth] [nvarchar](256) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PushSubscriptions] PRIMARY KEY CLUSTERED 
(
	[PushSubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityEntry_DailyLogId]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityEntry_DailyLogId] ON [app].[ActivityEntry]
(
	[DailyLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ActivityTemplate_UserId]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityTemplate_UserId] ON [app].[ActivityTemplate]
(
	[UserId] ASC,
	[IsActive] ASC,
	[TemplateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AiResponseCache_Expires]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AiResponseCache_Expires] ON [app].[AiResponseCache]
(
	[ExpiresAtUtc] ASC
)
WHERE ([ExpiresAtUtc] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_BodyMeasurement_User_Date]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_BodyMeasurement_User_Date] ON [app].[BodyMeasurement]
(
	[UserId] ASC,
	[MeasuredOn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyLog_User_LogDate]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_DailyLog_User_LogDate] ON [app].[DailyLog]
(
	[UserId] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyLog_User_WeekStartDate]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_DailyLog_User_WeekStartDate] ON [app].[DailyLog]
(
	[UserId] ASC,
	[WeekStartDate] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FavoriteRoutine_UserId]    Script Date: 9/10/2026 7:05:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_FavoriteRoutine_UserId] ON [app].[FavoriteRoutine]
(
	[UserId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FoodEntry_DailyLogId]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_FoodEntry_DailyLogId] ON [app].[FoodEntry]
(
	[DailyLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FoodTemplate_UserId]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_FoodTemplate_UserId] ON [app].[FoodTemplate]
(
	[UserId] ASC,
	[IsActive] ASC,
	[TemplateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonthlySummary_User_Year_Month]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlySummary_User_Year_Month] ON [app].[MonthlySummary]
(
	[UserId] ASC,
	[YearNumber] ASC,
	[MonthNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId_ExpiresAtUtc]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId_ExpiresAtUtc] ON [app].[RefreshTokens]
(
	[UserId] ASC,
	[ExpiresAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RefreshTokens_TokenHash]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_RefreshTokens_TokenHash] ON [app].[RefreshTokens]
(
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserConsent_User_Type_Created]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserConsent_User_Type_Created] ON [app].[UserConsent]
(
	[UserId] ASC,
	[ConsentType] ASC,
	[CreatedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserMacroPreference_User_Macro]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserMacroPreference_User_Macro] ON [app].[UserMacroPreference]
(
	[UserId] ASC,
	[MacroKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserStreaks_UserId]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserStreaks_UserId] ON [app].[UserStreaks]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationSchedules_HourUtc_MinuteUtc_Enabled]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_NotificationSchedules_HourUtc_MinuteUtc_Enabled] ON [dbo].[NotificationSchedules]
(
	[HourUtc] ASC,
	[MinuteUtc] ASC
)
WHERE ([Enabled]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationSchedules_UserId_Type]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NotificationSchedules_UserId_Type] ON [dbo].[NotificationSchedules]
(
	[UserId] ASC,
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PushSubscriptions_Endpoint]    Script Date: 9/10/2026 7:05:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PushSubscriptions_Endpoint] ON [dbo].[PushSubscriptions]
(
	[Endpoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [app].[ActivityEntry] ADD  CONSTRAINT [DF_ActivityEntry_CalculatedCalories]  DEFAULT ((0)) FOR [CalculatedCaloriesKcal]
GO
ALTER TABLE [app].[ActivityEntry] ADD  CONSTRAINT [DF_ActivityEntry_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [app].[ActivityEntry] ADD  CONSTRAINT [DF_ActivityEntry_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[ActivityEntry] ADD  CONSTRAINT [DF_ActivityEntry_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[ActivityTemplate] ADD  CONSTRAINT [DF_ActivityTemplate_AutoAdd]  DEFAULT ((0)) FOR [AutoAddToNewDay]
GO
ALTER TABLE [app].[ActivityTemplate] ADD  CONSTRAINT [DF_ActivityTemplate_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [app].[ActivityTemplate] ADD  CONSTRAINT [DF_ActivityTemplate_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[ActivityTemplate] ADD  CONSTRAINT [DF_ActivityTemplate_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[AiResponseCache] ADD  CONSTRAINT [DF_AiResponseCache_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[AiResponseCache] ADD  CONSTRAINT [DF_AiResponseCache_HitCount]  DEFAULT ((0)) FOR [HitCount]
GO
ALTER TABLE [app].[AiResponseCache] ADD  CONSTRAINT [DF_AiResponseCache_LastHitAtUtc]  DEFAULT (sysutcdatetime()) FOR [LastHitAtUtc]
GO
ALTER TABLE [app].[BodyMeasurement] ADD  CONSTRAINT [DF_BodyMeasurement_Source]  DEFAULT (N'manual') FOR [Source]
GO
ALTER TABLE [app].[BodyMeasurement] ADD  CONSTRAINT [DF_BodyMeasurement_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[BodyMeasurement] ADD  CONSTRAINT [DF_BodyMeasurement_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TotalFoodCalories]  DEFAULT ((0)) FOR [TotalFoodCaloriesKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TotalProtein]  DEFAULT ((0)) FOR [TotalProteinGrams]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TotalFat]  DEFAULT ((0)) FOR [TotalFatGrams]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TotalCarbs]  DEFAULT ((0)) FOR [TotalCarbsGrams]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TotalAlcohol]  DEFAULT ((0)) FOR [TotalAlcoholGrams]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TotalActivityCalories]  DEFAULT ((0)) FOR [TotalActivityCaloriesKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TEF]  DEFAULT ((0)) FOR [TEFKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_HoursRemaining]  DEFAULT ((0)) FOR [HoursRemainingInDay]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_TotalDailyExpenditure]  DEFAULT ((0)) FOR [TotalDailyExpenditureKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_NetBalance]  DEFAULT ((0)) FOR [NetBalanceKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_DailyGoalDelta]  DEFAULT ((0)) FOR [DailyGoalDeltaKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_CalRemaining]  DEFAULT ((0)) FOR [CaloriesRemainingToDailyTargetKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_ProteinRemaining]  DEFAULT ((0)) FOR [ProteinRemainingGrams]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_WeeklyTarget]  DEFAULT ((0)) FOR [WeeklyTargetKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_WeeklyActualToDate]  DEFAULT ((0)) FOR [WeeklyActualToDateKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_WeeklyExpectedToDate]  DEFAULT ((0)) FOR [WeeklyExpectedToDateKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_WeeklyDifference]  DEFAULT ((0)) FOR [WeeklyDifferenceKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_WeeklyRemainingTarget]  DEFAULT ((0)) FOR [WeeklyRemainingTargetKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_SuggestedDailyAverage]  DEFAULT ((0)) FOR [SuggestedDailyAverageRemainingKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_IdleTimeCalories]  DEFAULT ((0)) FOR [IdleTimeCaloriesKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  DEFAULT ((0)) FOR [SleepCaloriesKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  DEFAULT ((0)) FOR [NeatCaloriesKcal]
GO
ALTER TABLE [app].[DailyLog] ADD  CONSTRAINT [DF_DailyLog_IsFastingDay]  DEFAULT ((0)) FOR [IsFastingDay]
GO
ALTER TABLE [app].[DataMigration] ADD  CONSTRAINT [DF_DataMigration_AppliedAtUtc]  DEFAULT (sysutcdatetime()) FOR [AppliedAtUtc]
GO
ALTER TABLE [app].[FavoriteRoutine] ADD  CONSTRAINT [DF_FavoriteRoutine_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [app].[FavoriteRoutine] ADD  CONSTRAINT [DF_FavoriteRoutine_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [app].[FavoriteRoutine] ADD  CONSTRAINT [DF_FavoriteRoutine_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[FavoriteRoutine] ADD  CONSTRAINT [DF_FavoriteRoutine_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[FavoriteRoutineItem] ADD  CONSTRAINT [DF_FavoriteRoutineItem_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_Calories]  DEFAULT ((0)) FOR [CaloriesKcal]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_Protein]  DEFAULT ((0)) FOR [ProteinGrams]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_Fat]  DEFAULT ((0)) FOR [FatGrams]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_Carbs]  DEFAULT ((0)) FOR [CarbsGrams]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_Alcohol]  DEFAULT ((0)) FOR [AlcoholGrams]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[FoodEntry] ADD  CONSTRAINT [DF_FoodEntry_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_DefaultQuantity]  DEFAULT ((1)) FOR [DefaultQuantity]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_CaloriesKcal]  DEFAULT ((0)) FOR [CaloriesKcal]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_ProteinGrams]  DEFAULT ((0)) FOR [ProteinGrams]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_FatGrams]  DEFAULT ((0)) FOR [FatGrams]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_CarbsGrams]  DEFAULT ((0)) FOR [CarbsGrams]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_AlcoholGrams]  DEFAULT ((0)) FOR [AlcoholGrams]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_AutoAddToNewDay]  DEFAULT ((0)) FOR [AutoAddToNewDay]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[FoodTemplate] ADD  CONSTRAINT [DF_FoodTemplate_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_TotalActivity]  DEFAULT ((0)) FOR [TotalActivityCaloriesKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_TotalTEF]  DEFAULT ((0)) FOR [TotalTEFKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_TotalExpenditure]  DEFAULT ((0)) FOR [TotalExpenditureKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_ActualBalance]  DEFAULT ((0)) FOR [ActualMonthlyBalanceKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_AvgFood]  DEFAULT ((0)) FOR [AverageDailyFoodCaloriesKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_AvgExpenditure]  DEFAULT ((0)) FOR [AverageDailyExpenditureKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_AvgBalance]  DEFAULT ((0)) FOR [AverageDailyBalanceKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_AvgWeeklyBalance]  DEFAULT ((0)) FOR [AverageWeeklyBalanceKcal]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_DaysLogged]  DEFAULT ((0)) FOR [DaysLogged]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_LastCalculatedAt]  DEFAULT (sysutcdatetime()) FOR [LastCalculatedAtUtc]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[MonthlySummary] ADD  CONSTRAINT [DF_MonthlySummary_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[RefreshTokens] ADD  CONSTRAINT [DF_RefreshTokens_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [app].[User] ADD  CONSTRAINT [DF_User_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[User] ADD  CONSTRAINT [DF_User_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[UserConsent] ADD  CONSTRAINT [DF_UserConsent_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[UserMacroPreference] ADD  CONSTRAINT [DF_UserMacroPreference_IsTracked]  DEFAULT ((0)) FOR [IsTracked]
GO
ALTER TABLE [app].[UserMacroPreference] ADD  CONSTRAINT [DF_UserMacroPreference_TargetMode]  DEFAULT (N'auto') FOR [TargetMode]
GO
ALTER TABLE [app].[UserMacroPreference] ADD  CONSTRAINT [DF_UserMacroPreference_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[UserMacroPreference] ADD  CONSTRAINT [DF_UserMacroPreference_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_DailyBaseGoalKcal]  DEFAULT ((-500)) FOR [DailyBaseGoalKcal]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_AutoProtein]  DEFAULT ((1)) FOR [AutoCalculateProteinGoal]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_OnboardingCompleted]  DEFAULT ((0)) FOR [IsOnboardingCompleted]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_AutoCalculateBMR]  DEFAULT ((0)) FOR [AutoCalculateBMR]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_AutoCalculateBodyFat]  DEFAULT ((0)) FOR [AutoCalculateBodyFat]
GO
ALTER TABLE [app].[UserProfile] ADD  DEFAULT ((8.0)) FOR [SleepHours]
GO
ALTER TABLE [app].[UserProfile] ADD  DEFAULT ((3.0)) FOR [NeatHours]
GO
ALTER TABLE [app].[UserProfile] ADD  DEFAULT ((0.9)) FOR [SleepMET]
GO
ALTER TABLE [app].[UserProfile] ADD  DEFAULT ((3.0)) FOR [NeatMET]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_CalorieDisplayMode]  DEFAULT ('adjusted') FOR [CalorieDisplayMode]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_MinCaloriesSafeguardEnabled]  DEFAULT ((1)) FOR [MinCaloriesSafeguardEnabled]
GO
ALTER TABLE [app].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_HasSeenTutorial]  DEFAULT ((0)) FOR [HasSeenTutorial]
GO
ALTER TABLE [app].[UserStreaks] ADD  CONSTRAINT [DF_UserStreaks_StreakEnabled]  DEFAULT ((1)) FOR [StreakEnabled]
GO
ALTER TABLE [app].[UserStreaks] ADD  CONSTRAINT [DF_UserStreaks_CurrentStreak]  DEFAULT ((0)) FOR [CurrentStreak]
GO
ALTER TABLE [app].[UserStreaks] ADD  CONSTRAINT [DF_UserStreaks_LongestStreak]  DEFAULT ((0)) FOR [LongestStreak]
GO
ALTER TABLE [app].[UserStreaks] ADD  CONSTRAINT [DF_UserStreaks_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[UserStreaks] ADD  CONSTRAINT [DF_UserStreaks_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[PushSubscriptions] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [app].[ActivityEntry]  WITH CHECK ADD  CONSTRAINT [FK_ActivityEntry_DailyLog] FOREIGN KEY([DailyLogId])
REFERENCES [app].[DailyLog] ([DailyLogId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[ActivityEntry] CHECK CONSTRAINT [FK_ActivityEntry_DailyLog]
GO
ALTER TABLE [app].[ActivityEntry]  WITH CHECK ADD  CONSTRAINT [FK_ActivityEntry_Template] FOREIGN KEY([ActivityTemplateId])
REFERENCES [app].[ActivityTemplate] ([ActivityTemplateId])
GO
ALTER TABLE [app].[ActivityEntry] CHECK CONSTRAINT [FK_ActivityEntry_Template]
GO
ALTER TABLE [app].[ActivityTemplate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTemplate_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
GO
ALTER TABLE [app].[ActivityTemplate] CHECK CONSTRAINT [FK_ActivityTemplate_User]
GO
ALTER TABLE [app].[BodyMeasurement]  WITH CHECK ADD  CONSTRAINT [FK_BodyMeasurement_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[BodyMeasurement] CHECK CONSTRAINT [FK_BodyMeasurement_User]
GO
ALTER TABLE [app].[DailyLog]  WITH CHECK ADD  CONSTRAINT [FK_DailyLog_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
GO
ALTER TABLE [app].[DailyLog] CHECK CONSTRAINT [FK_DailyLog_User]
GO
ALTER TABLE [app].[FavoriteRoutine]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteRoutine_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
GO
ALTER TABLE [app].[FavoriteRoutine] CHECK CONSTRAINT [FK_FavoriteRoutine_User]
GO
ALTER TABLE [app].[FavoriteRoutineItem]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteRoutineItem_Activity] FOREIGN KEY([ActivityTemplateId])
REFERENCES [app].[ActivityTemplate] ([ActivityTemplateId])
ON DELETE SET NULL
GO
ALTER TABLE [app].[FavoriteRoutineItem] CHECK CONSTRAINT [FK_FavoriteRoutineItem_Activity]
GO
ALTER TABLE [app].[FavoriteRoutineItem]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteRoutineItem_Food] FOREIGN KEY([FoodTemplateId])
REFERENCES [app].[FoodTemplate] ([FoodTemplateId])
ON DELETE SET NULL
GO
ALTER TABLE [app].[FavoriteRoutineItem] CHECK CONSTRAINT [FK_FavoriteRoutineItem_Food]
GO
ALTER TABLE [app].[FavoriteRoutineItem]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteRoutineItem_Routine] FOREIGN KEY([FavoriteRoutineId])
REFERENCES [app].[FavoriteRoutine] ([FavoriteRoutineId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[FavoriteRoutineItem] CHECK CONSTRAINT [FK_FavoriteRoutineItem_Routine]
GO
ALTER TABLE [app].[FoodEntry]  WITH CHECK ADD  CONSTRAINT [FK_FoodEntry_DailyLog] FOREIGN KEY([DailyLogId])
REFERENCES [app].[DailyLog] ([DailyLogId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[FoodEntry] CHECK CONSTRAINT [FK_FoodEntry_DailyLog]
GO
ALTER TABLE [app].[FoodEntry]  WITH CHECK ADD  CONSTRAINT [FK_FoodEntry_FoodTemplate] FOREIGN KEY([FoodTemplateId])
REFERENCES [app].[FoodTemplate] ([FoodTemplateId])
ON DELETE SET NULL
GO
ALTER TABLE [app].[FoodEntry] CHECK CONSTRAINT [FK_FoodEntry_FoodTemplate]
GO
ALTER TABLE [app].[FoodTemplate]  WITH CHECK ADD  CONSTRAINT [FK_FoodTemplate_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
GO
ALTER TABLE [app].[FoodTemplate] CHECK CONSTRAINT [FK_FoodTemplate_User]
GO
ALTER TABLE [app].[MonthlySummary]  WITH CHECK ADD  CONSTRAINT [FK_MonthlySummary_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
GO
ALTER TABLE [app].[MonthlySummary] CHECK CONSTRAINT [FK_MonthlySummary_User]
GO
ALTER TABLE [app].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [app].[UserConsent]  WITH CHECK ADD  CONSTRAINT [FK_UserConsent_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[UserConsent] CHECK CONSTRAINT [FK_UserConsent_User]
GO
ALTER TABLE [app].[UserMacroPreference]  WITH CHECK ADD  CONSTRAINT [FK_UserMacroPreference_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[UserMacroPreference] CHECK CONSTRAINT [FK_UserMacroPreference_User]
GO
ALTER TABLE [app].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
GO
ALTER TABLE [app].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_User]
GO
ALTER TABLE [app].[UserStreaks]  WITH CHECK ADD  CONSTRAINT [FK_UserStreaks_User] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[UserStreaks] CHECK CONSTRAINT [FK_UserStreaks_User]
GO
ALTER TABLE [dbo].[NotificationSchedules]  WITH CHECK ADD  CONSTRAINT [FK_NotificationSchedules_User_UserId] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationSchedules] CHECK CONSTRAINT [FK_NotificationSchedules_User_UserId]
GO
ALTER TABLE [dbo].[PushSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_PushSubscriptions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [app].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PushSubscriptions] CHECK CONSTRAINT [FK_PushSubscriptions_Users_UserId]
GO
ALTER TABLE [app].[AiResponseCache]  WITH CHECK ADD  CONSTRAINT [CK_AiResponseCache_Type] CHECK  (([CacheType]=N'combined' OR [CacheType]=N'met' OR [CacheType]=N'activity' OR [CacheType]=N'food'))
GO
ALTER TABLE [app].[AiResponseCache] CHECK CONSTRAINT [CK_AiResponseCache_Type]
GO
ALTER TABLE [app].[BodyMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_BodyMeasurement_HasValue] CHECK  (([WeightKg] IS NOT NULL OR [BodyFatPercent] IS NOT NULL))
GO
ALTER TABLE [app].[BodyMeasurement] CHECK CONSTRAINT [CK_BodyMeasurement_HasValue]
GO
ALTER TABLE [app].[DailyLog]  WITH CHECK ADD  CONSTRAINT [CK_DailyLog_SnapshotBMR] CHECK  (([SnapshotBMRKcal]>=(0)))
GO
ALTER TABLE [app].[DailyLog] CHECK CONSTRAINT [CK_DailyLog_SnapshotBMR]
GO
ALTER TABLE [app].[DailyLog]  WITH CHECK ADD  CONSTRAINT [CK_DailyLog_SnapshotHeight] CHECK  (([SnapshotHeightCm]>(0)))
GO
ALTER TABLE [app].[DailyLog] CHECK CONSTRAINT [CK_DailyLog_SnapshotHeight]
GO
ALTER TABLE [app].[DailyLog]  WITH CHECK ADD  CONSTRAINT [CK_DailyLog_SnapshotWeight] CHECK  (([SnapshotWeightKg]>(0)))
GO
ALTER TABLE [app].[DailyLog] CHECK CONSTRAINT [CK_DailyLog_SnapshotWeight]
GO
ALTER TABLE [app].[DailyLog]  WITH CHECK ADD  CONSTRAINT [CK_DailyLog_WeekRange] CHECK  (([WeekEndDate]>=[WeekStartDate]))
GO
ALTER TABLE [app].[DailyLog] CHECK CONSTRAINT [CK_DailyLog_WeekRange]
GO
ALTER TABLE [app].[FavoriteRoutineItem]  WITH CHECK ADD  CONSTRAINT [CK_FavoriteRoutineItem_ItemType] CHECK  (([ItemType]='food' OR [ItemType]='activity'))
GO
ALTER TABLE [app].[FavoriteRoutineItem] CHECK CONSTRAINT [CK_FavoriteRoutineItem_ItemType]
GO
ALTER TABLE [app].[MonthlySummary]  WITH CHECK ADD  CONSTRAINT [CK_MonthlySummary_Month] CHECK  (([MonthNumber]>=(1) AND [MonthNumber]<=(12)))
GO
ALTER TABLE [app].[MonthlySummary] CHECK CONSTRAINT [CK_MonthlySummary_Month]
GO
ALTER TABLE [app].[MonthlySummary]  WITH CHECK ADD  CONSTRAINT [CK_MonthlySummary_MonthRange] CHECK  (([MonthEndDate]>=[MonthStartDate]))
GO
ALTER TABLE [app].[MonthlySummary] CHECK CONSTRAINT [CK_MonthlySummary_MonthRange]
GO
ALTER TABLE [app].[UserConsent]  WITH CHECK ADD  CONSTRAINT [CK_UserConsent_Action] CHECK  (([Action]=N'revoked' OR [Action]=N'granted'))
GO
ALTER TABLE [app].[UserConsent] CHECK CONSTRAINT [CK_UserConsent_Action]
GO
ALTER TABLE [app].[UserConsent]  WITH CHECK ADD  CONSTRAINT [CK_UserConsent_Type] CHECK  (([ConsentType]=N'health_data' OR [ConsentType]=N'privacy' OR [ConsentType]=N'terms'))
GO
ALTER TABLE [app].[UserConsent] CHECK CONSTRAINT [CK_UserConsent_Type]
GO
ALTER TABLE [app].[UserMacroPreference]  WITH CHECK ADD  CONSTRAINT [CK_UserMacroPreference_MacroKey] CHECK  (([MacroKey]=N'water' OR [MacroKey]=N'sugar' OR [MacroKey]=N'alcohol' OR [MacroKey]=N'fat' OR [MacroKey]=N'carbs'))
GO
ALTER TABLE [app].[UserMacroPreference] CHECK CONSTRAINT [CK_UserMacroPreference_MacroKey]
GO
ALTER TABLE [app].[UserMacroPreference]  WITH CHECK ADD  CONSTRAINT [CK_UserMacroPreference_TargetMode] CHECK  (([TargetMode]=N'custom' OR [TargetMode]=N'auto'))
GO
ALTER TABLE [app].[UserMacroPreference] CHECK CONSTRAINT [CK_UserMacroPreference_TargetMode]
GO
ALTER TABLE [app].[UserProfile]  WITH CHECK ADD  CONSTRAINT [CK_UserProfile_BMRKcal] CHECK  (([BMRKcal]>=(0)))
GO
ALTER TABLE [app].[UserProfile] CHECK CONSTRAINT [CK_UserProfile_BMRKcal]
GO
ALTER TABLE [app].[UserProfile]  WITH CHECK ADD  CONSTRAINT [CK_UserProfile_BodyFatPercent] CHECK  (([BodyFatPercent] IS NULL OR [BodyFatPercent]>=(0) AND [BodyFatPercent]<=(100)))
GO
ALTER TABLE [app].[UserProfile] CHECK CONSTRAINT [CK_UserProfile_BodyFatPercent]
GO
ALTER TABLE [app].[UserProfile]  WITH CHECK ADD  CONSTRAINT [CK_UserProfile_CurrentWeightKg] CHECK  (([CurrentWeightKg]>(0)))
GO
ALTER TABLE [app].[UserProfile] CHECK CONSTRAINT [CK_UserProfile_CurrentWeightKg]
GO
ALTER TABLE [app].[UserProfile]  WITH CHECK ADD  CONSTRAINT [CK_UserProfile_HeightCm] CHECK  (([HeightCm]>(0)))
GO
ALTER TABLE [app].[UserProfile] CHECK CONSTRAINT [CK_UserProfile_HeightCm]
GO
ALTER TABLE [app].[UserStreaks]  WITH CHECK ADD  CONSTRAINT [CK_UserStreaks_CurrentStreak] CHECK  (([CurrentStreak]>=(0)))
GO
ALTER TABLE [app].[UserStreaks] CHECK CONSTRAINT [CK_UserStreaks_CurrentStreak]
GO
ALTER TABLE [app].[UserStreaks]  WITH CHECK ADD  CONSTRAINT [CK_UserStreaks_LongestStreak] CHECK  (([LongestStreak]>=(0)))
GO
ALTER TABLE [app].[UserStreaks] CHECK CONSTRAINT [CK_UserStreaks_LongestStreak]
GO
/****** Object:  StoredProcedure [admin].[DeleteUser]    Script Date: 9/10/2026 7:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure for cascading user deletion
CREATE   PROCEDURE [admin].[DeleteUser]
    @UserId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @RowsAffected INT = 0;
    
    -- Validate that user exists
    IF NOT EXISTS (SELECT 1 FROM [app].[User] WHERE UserId = @UserId)
    BEGIN
        RAISERROR('User with UserId %d does not exist.', 16, 1, @UserId);
        RETURN -1;
    END
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Delete from child tables of DailyLog first
        DELETE FROM [app].[ActivityEntry] 
        WHERE DailyLogId IN (SELECT DailyLogId FROM [app].[DailyLog] WHERE UserId = @UserId);
        
        DELETE FROM [app].[FoodEntry] 
        WHERE DailyLogId IN (SELECT DailyLogId FROM [app].[DailyLog] WHERE UserId = @UserId);
        
        -- Delete from direct child tables of User
        DELETE FROM [app].[ActivityTemplate] WHERE UserId = @UserId;
        DELETE FROM [app].[DailyLog] WHERE UserId = @UserId;
        DELETE FROM [app].[MonthlySummary] WHERE UserId = @UserId;
        DELETE FROM [app].[UserProfile] WHERE UserId = @UserId;
        DELETE FROM [app].[WeeklySummary] WHERE UserId = @UserId;
        
        -- Finally delete the user
        DELETE FROM [app].[User] WHERE UserId = @UserId;
        SET @RowsAffected = @@ROWCOUNT;
        
        COMMIT TRANSACTION;
        
        PRINT 'User ' + CAST(@UserId AS NVARCHAR(20)) + ' and all related records deleted successfully.';
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @ErrorMessage = ERROR_MESSAGE();
        RAISERROR('Error deleting user: %s', 16, 1, @ErrorMessage);
        RETURN -1;
    END CATCH
END

GO
USE [master]
GO
